.imgsignstore{
    height: 300px!important;
    float:right;
    margin-right: 50px!important;
}

.textx{ 
    font-size: 45px;
    background: url(https://allimages.sgp1.digitaloceanspaces.com/tipeduvn/2022/06/1654504453_333_Hinh-nen-powerpoint-mau-xanh-duong.jpg);
    -webkit-background-clip: text;
    color:transparent;
    background-position: center;
    background-size: 100%;
    font-weight: 800;
 
}
